html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #222326;
}

#main {
    width: 100%;
    height: 100%;
    /* padding:20px; */
}

.page-wrapper {
    width: 100%;
    padding: 20px 40px 10px 40px;
    box-sizing: border-box;
}

.welcome {
    color: white;
}

.login-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper {
    width: 50%;
    background: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    padding: 20px 12px 20px 12px;
    box-sizing: border-box;
}

.field {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.form-title {
    font-size: 20px;
    color: #222326;
    font-weight: bold;
    align-self: center;
}

.label {
    font-size: 14px;
    font-weight: bold;
    color: #222326;
    margin-bottom: 4px;
}
.labelWhite {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 4px;
    font-weight: bold;
}
.input {
    padding: 3px 5px 3px 5px;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #D3D3D3;
}

.select {
    padding: 3px 5px 3px 5px;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #D3D3D3;
}

.submit-button {
    background: #005599;
    border: none;
    height: 30px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}

.block-user-actions {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-div {
    margin-right: 20px;
    margin-left: 10px;
    background: white;
    border-radius: 8px;
    height: 30px;
    padding: 10px 3px 3px 3px;
    border: 2px solid darkgrey;
    text-align: center;
    margin-top: 30px;
}

a {
    color: black;
    text-decoration: none;
}

.login-logo {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.logo {
    width: 70%;
    height: 500px;
    background-image: url("./assets/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: top;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(70,72,78, 0.2);
    box-shadow: 0 4px 2px -2px rgba(70,72,78, 0.5);
}

.header .text {
    color: aliceblue;
    margin-right: 5%;
}

.line {
    height: 3px;
    width: 100%;
    background-color: grey;
    border-radius: 12;
}

.block-party {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
}

.party {
    width: 340px;
    background-color: white;
    border-radius: 8px;
    height: fit-content;
    padding:10px 15px;
    color:black;
    margin-right: 15px;
    margin-bottom: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.party:hover{
    transform: scale(1.1);
}
.partyName {
    font-size:20px;
    margin-bottom:5px;
    font-weight: bold;
}
.partyFlex {
    display:flex;
    align-items: center;
    margin-bottom: 5px;
}
.partyLabel {
    font-size: 16px;
}
.partyLive {
    color:green;
    font-size:18px;
    font-weight: bold;
}
.partyOpen {
    color:grey;
    font-size:18px;
    font-weight: bold;
}
.partyCode{
    font-size:18px;
    font-weight: bold;
}
.wrap {
    display: flex;
    justify-content: flex-end;
}

* {
    box-sizing: border-box;
}


.open-button {
    display: block;
    border: none;
    background-color: #005599;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 8px;
}


.form-popup {
    color: white;
    display: none;
    position: fixed;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;
    bottom: 10%;
    top: 12.5%;
    height: fit-content;
    width: 45%;
    z-index: 9;
    background-color:rgba(70,72,78, 0.5);
    }

.container-opp{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.95);
    position: fixed;
    top: 0;
    z-index: 0;
    display: none;

}


.form-container {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-shadow: 0px 3px 3px 5px rgba(70,72,78, 0.2);
}

/* .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
} */

.form-container .btn {
    background-color: blue;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: black;
}
.form-container .cancel:hover {
    background-color: red;
}

/* Add some hover effects to buttons */

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

input, label{
    display:block;
    padding-top: 5px;
    padding-bottom: 7px;
}

.form-container.blur{
    filter: 'blur(4px)';
    -webkit-filter: 'blur(4px)';
}
.errorCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding: 5px 10px 5px 10px;
    background-color: rgb(209, 109, 126);
    text-align: left;
    border-radius: 6px;
    position: fixed;
    -webkit-animation-name: errCard;
    -webkit-animation-duration: 3s;
    animation-name: errCard;
    animation-duration: 3s;
    color:white;
    font-weight: 500;
    
}

@keyframes errCard {
    0% {
        right: -100px;
        top: 0px;
    }
  
    50% {
        right: 12px;
        top: 0px;
    }
    75% {
        right: 7px;
        top: 0px;
    }
    100% {
        right: -150px;
        top: 0px;
    }
}
